original reference/original_vcf/
original reference/original_vcf_all/
*.DS_Store
notebooks/1000_vcf_analysis-Copy1.ipynb
outputs/src_outputs/indiv_ref_genome/v1_insertions/
outputs/src_outputs/indiv_ref_genome/v2_indels/
outputs/src_outputs/indiv_ref_genome/v3_all/
outputs/src_outputs/new_vcf/subset/
outputs/src_outputs/indels_stats/
